<article class="post pb-6 bg-white rounded-lg shadow-xl">
    <div class="bg-gray-700 text-center rounded-t py-2 mb-1">
      <a href="/post/{{id}}" class="font-bold text-xl mb-2 rounded text-white"><h2>{{book_name}}</h2></a>
    </div>
    <div class="px-4">
      <p class="text-red-800">Author: {{book_author}}</p>
      <p>Price: ${{price}}</p>
      <p class="list-group text-base">{{content}}</p>
    </div>
</article>

{{!-- Diana Salas --}}