<article class="post h-full max-w-xl p-12 px-6 bg-white rounded-lg shadow-xl mx-auto">
    <div>
      <a href="/post/{{id}}"><h2>{{title}}</h2></a>
    </div >
      <p class="font-bold text-xl">{{book_name}}</p>
      <p class="text-green-800">Author: {{book_author}}</p>
      <p>Price: ${{price}}</p>
      <p class="text-lg">{{content}}</p>
      <div class="w-full flex justify-between">
      </div>
</article>